primary-color = #3F61EA
// secondary-color = #CCCCBC
secondary-color = #FFFFFF
text-color = #FFFFFF
text-gray-color = #667980
text-dark-color = #1A272F

*
  margin: 0
  padding: 0

body
  background-color: secondary-color
  color: text-color

p
  font-size: 1.6em
  line-height: 1.8
  letter-spacing: 1px
  color: text-gray-color

a
  color: primary-color
  font-weight: bold
  text-decoration: none
a:hover
  color: primary-color
  text-decoration: underline

h1
  font-size: 5.5em
  margin-bottom: 1.5em
  letter-spacing: 3px
  font-weight: bold
  color: text-color

h2
  margin-bottom: 0.75em
  font-size: 3.75em
  font-weight: bold
  letter-spacing: 2px
  color: text-dark-color

.row
  padding-top: 6.5em
  padding-bottom: 6.5em

.hero
  padding-top: 9em
  padding-bottom: 9em
  background-color: primary-color
  p
    color: secondary-color

.about
  background-color: text-color


.contact
  background-color: secondary-color

