doctype html
html(lang="en")
  head
    title Potato Labs | Turn your ideas into reality
    link(href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css", rel='stylesheet')
    link(href='/style.css', rel='stylesheet')
